<li class="dropdown user user-menu" id="loginMenu">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
        <!-- The user image in the navbar-->
        <i class="fa fa-lock"></i>

        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">Login</span>
    </a>


    <div class="dropdown-menu">
        <form class="form" id="loginForm">

            <div class="row">
                <!-- The user image in the menu -->
                <div class="col-md-12 user-header">
                    <img src="https://fr.gravatar.com/avatar/visitor" class="img-circle" alt="User Image">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="mail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="pass" placeholder="Password">
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <!-- Menu Footer-->
                <div class="col-md-12 user-footer">
                    <div class="pull-left">
                        <button id="signIn" type="submit" class="btn btn-default">Sign in</button>
                    </div>
                    <div class="pull-right">
                        <a href="/register" class="btn btn-default btn-flat">Sign Up</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</li>