{% extends "../../layouts/base" %}

{% block title %}
    Create a new switchboard
{% endblock %}
{% block pageHeader %}
    Switchboard created
    <small>Yeaaah!</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/switch/choose">Switchboard</a></li>
    <li class="active"><a href="#">List</a></li>
{% endblock %}


{% block pageContent %}

    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ok"></i> Success!</h4>
        Congrats! Your service has been created. <a href="/u/configure/{{ switchboard.id }}">Start to configure it now!</a>
    </div>

{% endblock %}

