{% extends "../../layouts/base" %}

{% block title %}
    Switchboard stats
{% endblock %}

{% block pageHeader %}
    Stats
{% endblock %}

{% block breadcrumb %}
    <li><a href="/u/switchboard">Switchboard</a></li>
{% endblock %}

{# CHANGE SIDEBAR #}
{% block sidebar %}
    {% include "pages/switchboard/sidebar/menu" %}
{% endblock %}

{% block pageContent %}
    Switch page content...
{% endblock %}