{% extends "../../layouts/base" %}

{% block title %}
    Operators
{% endblock %}

{% block pageHeader %}
    Operators
    <small>{{ switchboard.name }}</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/u/switchboard">Switchboard</a></li>
    <li class="active"><a href="#">Dialplan</a></li>
{% endblock %}

{# CHANGE SIDEBAR #}
{% block sidebar %}
    {% include "pages/switchboard/sidebar/menu" %}
{% endblock %}

{% block pageContent %}

    <!-- Info boxes -->
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-gear"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">
                        Configuration
                    </span>
                    <span class="info-box-number"></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-phone-square"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Operators</span>
                    <span class="info-box-number">3/5 <small> online</small></span>
                </div><!-- /.info-box-content -->
            </div><!-- /.info-box -->
        </div><!-- /.col -->

    </div><!-- /.row -->


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Dialplan tree</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i
                                        class="fa fa-wrench"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">


                        <div class="col-md-12">

                            <ul id="org" class="hidden">
                                <li>
                                    Playback
                                    <ul>
                                        <li>Beer</li>
                                        <li>Vegetables
                                            <ul>
                                                <li>Pumpkin</li>
                                                <li><a href="http://tquila.com" target="_blank">Aubergine</a></li>
                                            </ul>
                                        </li>
                                        <li>Bread</li>
                                        <li>Chocolate
                                            <ul>
                                                <li>Topdeck</li>
                                                <li>Reese's Cups</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>


                            <div id="configuration"></div>

                        </div><!-- /.col -->


                    </div><!-- /.row -->
                </div><!-- ./box-body -->


                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i
                                            class="fa fa-caret-up"></i> 17%</span>
                                <h5 class="description-header">£35,210.43</h5>
                                <span class="description-text">TOTAL REVENUE</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-yellow"><i
                                            class="fa fa-caret-left"></i> 0%</span>
                                <h5 class="description-header">£10,390.90</h5>
                                <span class="description-text">TOTAL COST</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green"><i
                                            class="fa fa-caret-up"></i> 20%</span>
                                <h5 class="description-header">£24,813.53</h5>
                                <span class="description-text">TOTAL PROFIT</span>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-3 col-xs-6">
                            <div class="description-block">
                                <span class="description-percentage text-red"><i
                                            class="fa fa-caret-down"></i> 18%</span>
                                <h5 class="description-header">1200</h5>
                                <span class="description-text">GOAL COMPLETIONS</span>
                            </div><!-- /.description-block -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-footer -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->




{% endblock %}

{% block cssFiles %}
    <link rel="stylesheet" href="/assets/libs/jorgchart/jorgchart.css"/>
{% endblock %}

{% block jsFiles %}
    {{ parent() }}
    <script src="/assets/libs/jorgchart/jorgchart.js"></script>
    <script>
        $(function () {
            $("#org").jOrgChart({
                chartElement: "#configuration",
                dragAndDrop: true
            });
        });
    </script>
{% endblock %}