{% extends "../../layouts/base" %}

{% block title %}
    Welcome!
{% endblock %}
{% block pageHeader %}
    Welcome
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
{% endblock %}


{% block pageContent %}

    <div id="mainWrapper">
        <div class="login-container">
            <div class="login-card">
                <div class="login-form">
                    <form action="/login" method="post" class="form-horizontal">

                        {% if request.parameter('error') is not null %}
                            <div class="alert alert-danger">
                                <p>
                                    Invalid username and password.
                                </p>
                            </div>

                        {% endif %}

                        {% set token = request.attribute('_csrf') %}

                        <div class="input-group input-sm">
                            <label class="input-group-addon" for="email"><i class="fa fa-user"></i></label>
                            <input type="text" class="form-control" id="email" name="email"
                                   placeholder="Enter Username" required>
                        </div>
                        <div class="input-group input-sm">
                            <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Enter Password" required>
                        </div>

                        <input type="hidden" name="{{ token.parameterName }}" value="{{ token.token }}"/>

                        <div class="form-actions">
                            <input type="submit"
                                   class="btn btn-block btn-primary btn-default" value="Log in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}