{% extends "../../layouts/base" %}

{% block title %}
    Registration
{% endblock %}
{% block pageHeader %}
    Registration
{% endblock %}

{% block breadcrumb %}
    <li><a href="/login">Registration</a></li>
{% endblock %}


{% block pageContent %}

    <div id="mainWrapper">
        <div class="login-container">
            <div class="login-card">
                <div class="login-form">

                    <div class="alert alert-success">
                        CONGRATS!
                        You have been correctly registered.<br />
                        <a href="/login">You can now login</a>.
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}