{% extends "../../layouts/base" %}

{% block title %}
    Welcome!
{% endblock %}
{% block pageHeader %}
    Welcome
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
{% endblock %}


{% block pageContent %}


    Bonjour.


{% endblock %}