{% extends "../../layouts/base" %}

{% block title %}
    Welcome!
{% endblock %}
{% block pageHeader %}

{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Home</a></li>
{% endblock %}


{% block pageContent %}

    <div class="jumbotron">

        <h1>Welcome on the ScotIP project !<h1/>
        <p>
        ScotIP allow you to create your own switchboard for your company.</br>
        With a simplified interface you will organize your switchboard quickly and efficiently.</br>


        </p>
            <p><a class="btn btn-primary btn-lg" href="/pricings" role="button">Learn more</a></p>
    </div>

{% endblock %}