{% extends "../../layouts/base" %}

{% block title %}
    About...
{% endblock %}
{% block pageHeader %}
    About ScotIP
    <small>technos</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/about">About</a></li>
{% endblock %}


{% block pageContent %}


    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Why this project?</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <p>
                        ScotIP is a software which allows companies to create their own telephone switchboards.
                        A company can create a vocal service which welcome their clients with some Music On Holds,
                        customs messages. They can also manage calls forwarding or connect their own operators to our
                        server.
                        <br/>
                        This is a three month based project and it has been created by Pierre BOURGEOIS and Aurélien
                        SVEVI,
                        during an ERASMUS exchange between the University of Lille 1 (FRANCE) and the
                        Glasgow Caledonian University (SCOTLAND).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Used technologies...</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul>
                        <li>
                            <strong>Website:</strong>
                            <ul>
                                <li><a href="https://maven.apache.org/" target="_blank">Maven</a></li>
                                <li><a href="http://spring.io/" target="_blank">Spring</a></li>
                                <li><a href="http://hibernate.org/" target="_blank">Hibernate</a></li>
                                <li><a href="http://www.mitchellbosecke.com/pebble/home" target="_blank">Pebble</a></li>
                                <li><a href="https://tomcat.apache.org/" target="_blank">Tomcat</a></li>
                                <li><a href="http://www.oracle.com/technetwork/java/javaee/overview/index.html"
                                       target="_blank">JAVA EE</a></li>
                                <li><a href="http://www.w3schools.com/html/html5_intro.asp"
                                       target="_blank">HTML5/CSS3</a></li>
                                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">JavaScript</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <strong>Others:</strong>
                            <ul>
                                <li>
                                    MP3 conversion into Asterisk readable format
                                </li>
                                <li>
                                    GIT <em>(hosted by <a href="http://github.com" target="_blank">GitHub</a>)</em>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <strong>VOIP server:</strong>
                            <ul>
                                <li><a href="http://www.asterisk.org/" target="_blank">Asterisk</a></li>
                                <li>
                                    SIP lines:
                                    <ul>
                                        <li><a href="http://ovh.com" target="_blank">OVH</a></li>
                                        <li><a href="http://ippi.fr" target="_blank">IPPI</a> <em>for free incoming</em>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <strong>Communication between systems:</strong>
                            <ul>
                                <li><a href="https://www.mysql.com/" target="_blank">MySQL</a></li>
                                <li>
                                    SSL certificate: <em><a href="https://letsencrypt.org" target="_blank">Let's
                                            encrypt</a></em>
                                </li>
                                <li>
                                    <a href="https://nodejs.org/en/" target="_blank">NodeJS</a> <em>(soon)</em>
                                    <ul>
                                        <li>Sockets</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <strong>Hostings:</strong>
                            <ul>
                                <li>VPS <em><a href="http://ovh.com" target="_blank">OVH</a>: <a
                                                href="http://orion.pierrebourgeois.fr"
                                                target="_blank">Orion</a></em></li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">What you can actually do</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul>
                        <li>
                            <strong>Call center:</strong>
                            <ul>
                                <li>
                                    <span style="text-decoration: underline;">From FRANCE:</span> 03.62.72.90.20<br/>
                                    <span style="text-decoration: underline;">From UNITED-KINGDOM:</span>
                                    01.41.25.70.023<br/>
                                    <br/>
                                    When the service ask for a company number, you can provide one of following:
                                    <ul>
                                        <li>
                                            020
                                        </li>
                                        <li>
                                            150
                                        </li>
                                        <li>
                                            500
                                        </li>
                                        <li>
                                            999
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <strong>Website:</strong>
                            <ul>
                                <li>Static pages</li>
                                <li>Login / Register</li>
                            </ul>
                        </li>


                    </ul>
                </div>
            </div>


            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Others links...</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <ul>
                        <li>
                            <strong>Github links:</strong>
                            <ul>
                                <li>
                                    <a href="https://github.com/Monpoke/scotipweb" target="_blank">Website</a></li>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


    </div>

{% endblock %}

{% block cssFiles %}
    <link rel="stylesheet" href="/assets/css/pricings.css"/>
{% endblock %}