{% extends "../../layouts/base" %}

{% block title %}
    Help
{% endblock %}
{% block pageHeader %}
    Help
    <small>FAQ</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/help">FAQ</a></li>
{% endblock %}


{% block pageContent %}


    <div class="row" id="ippiskype">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">How to receive calls on Skype?</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <p>
                       To accept calls on Skype account, you will have to add the following contact: <em><a href="skype:skype2ippi">skype2ippi</a></em>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
