{% extends "../../layouts/base" %}

{% block title %}
    Terms and conditions
{% endblock %}
{% block pageHeader %}
    Terms and conditions
{% endblock %}

{% block breadcrumb %}
    <li><a href="/terms">Terms and conditions</a></li>
{% endblock %}


{% block pageContent %}

    {% include "../../texts/cgu/privacy" %}

{% endblock %}